<html>
<head>
    <meta charset="utf-8">
    <title>Google Login</title>
</head>
<style>
    body {
        height: 100%;
        width: 100%;
        align-items: center;
        vertical-align: center;
        color: red;
    }
    .google-btn {
        background-color: red;
        color: white;
        font-size: 1.3em;
        text-underline: none;
    }
</style>
<div>
    <h1>What's Gucci</h1>
</div>
<div>
    <a class="google-btn" href="/auth/google">Login w/ Google</a>
</div>
<div>
    <a href="/auth/logout">Logout</a>
</div>
</body>
</html>